body{
  background-color: #ffe6ff;
  }

/*background*/
header{
	background: url(img//polygon-1.PNG);
	/* min-height: 100vh; */
	background-size: cover;
	background-position: center;
  padding-bottom: 100px ;
	/* background-repeat: no-repeat;
	background-attachment: fixed; */
}
 /* .banner-{
	position: relative;
	background: url(img//polygon-1.PNG);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 100px 0 50px ;
  background-color: #ffe6ff;
} */

/*navbar*/
.navbar{
  background: transparent;
}
#home-navbar ul li a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-family: sans-serif;
	background-color: transparent;
	transition: .5s all;
}
#home-navbar ul li a:hover{
	color: tomato;
	/*text-decoration: underline;*/
}
.drop-down-list{
	background-color: transparent;
}

/*animated effect*/

.hover-line::after{
	content: '';
	display: block;
	width: 0%;
	height: 2px;
	background-color: tomato;
	transition: width .5s;
}
.hover-line:hover::after{
	width: 100%;
	transition: width .5s;
}

/*logo*/
.site-title{
	text-decoration: none;
	color: white;
	font-size: 32px;
	font-family: cursive;
	font-weight: 900;

}
.resources-title{
	font-size: 120px;
	color: white;
	text-align: center;
}


/* from here trial part starts */


.boot{
  /* width: 50vw;
  height: 100vh;*/
  display: flex;
  align-items: center;
  justify-content: center;
  background:url("");
  overflow: hidden;
  background-color: #ffe6ff;
}
.card {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
}
/* .card-image {
  grid-area: image;
  background:url("img/17494.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
} */
.card-text {
  grid-area: text;
}
.card-stats {
  grid-area: stats;
}
/* .card-image {
  grid-area: image;
  background: url("img/17494.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
} */
.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .geeky {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  padding:10px;
}
.card:hover {
/* transform: scale(1.15); */
transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card {

  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}
.cardbody {
  display: flex;
 flex-wrap: wrap;
 justify-content: center;
 margin-top: 5vh;
 padding: 5vh;
 background-color: #ffe6ff;
}
/* card image wali prop idhar se shuru */
.card-image-1 {
  grid-area: image;
  background: url("img/card1.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-image-2 {
  grid-area: image;
  background: url("img/card2.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-image-3 {
  grid-area: image;
  background: url("img/card3.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-image-4 {
  grid-area: image;
  background: url("img/card4.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-image-5 {
  grid-area: image;
  background: url("img/card5.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-image-6 {
  grid-area: image;
  background: url("img/card6.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}




/*    yaha se animation text shuru hota                                 */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.animated-text{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #ffe6ff;
  margin-top: 10vh;
}
.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #000000;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  /*COLOR SUGGESTED BY THE GROUP MEMBERS @TANUJA #2D0174 */
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffe6ff;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

/* form wala part */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.body-form{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}
.container1{
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container1 .text{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container1 form{
  padding: 30px 0 0 0;
}
.container1 form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}
.container1 {
  display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

/* footer */

footer {
	/* position: fixed; */
	padding: 10px 0;
	text-align: center;
	bottom: 0;
	background-color: #101010;
	color: #9d9d9d;
	width: 100%;
  font-size: 18px;
}
